@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-sub-serif: 'Playfair Display', serif;

  --color-tanakayu-bg: #F9FAFB;
  --color-tanakayu-dark: #1F3D2B;
  --color-tanakayu-accent: #E7CBB1;
  --color-tanakayu-highlight: #D69C3F;
  --color-tanakayu-card: #355E3B;
  --color-tanakayu-text: #3A3A3A;
}

body {
  @apply bg-tanakayu-bg text-tanakayu-text;
}
